<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/finallaunchericon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/finallaunchericon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".layout_historychart_layoutformat"
            android:exported="false" />
        <activity
            android:name=".activity_dataclassification_selection"
            android:exported="false" />

        <activity android:name=".SplashScreenActivity" />

        <activity
            android:name=".workoutoutDetails"
            android:label=" "
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".templateActivity"
            android:label=" "
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"/>
        <activity
            android:name=".workout_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity_historyDates"
            android:label=" "
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name=".NotesActivity"
            android:label=" "
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name=".requestForm"
            android:label=" "
            android:theme="@style/Theme.AppCompat.Dialog" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>